
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header-container {
    display: flex;
    align-items: center;
}

.header-text {
    margin-left: 20px;
}
html{
	background-color: white;
		}
header {
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
    padding-left: 30px;
    padding-right: 30px;
}

header h2, header h3 {
    text-indent: 0;
}
